#banner {
    background-color: #0a2c74;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 142px;
    font-family: Helvetica, Verdana, Tahoma, sans-serif;
}

#banner h1, #invisible-banner h1 {
    padding: 16px;
    text-align: center;
}

#banner img, #invisible-banner img {
    float: left;
    height: 142px;
}

#invisible-banner {
    visibility: hidden;
    margin-top: -1.7%;
    width: 100%;
    height: 142px;
}

#content {
    width: 68%;
    float: left;
}

#content h2 {
    font-family: Arial, sans-serif;
    font-size: 1.4em;
}

#content p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

#footer {
    clear: both;
    background-color: black;
    width: 100%;
    height: 60px;
    text-align: center;
}

#footer ul {
    list-style-type: none;
    padding-left: 37%;
}

#footer ul li {
    display: inline;
    float: left;
    margin: 0 .75em 0 0;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 1.2em .3em .3em .3em;
}

#navbar {
    clear: both;
    margin-left: 6%;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    margin: 16px auto;
    padding-left: 0;
}

#navbar ul li {
    display: inline;
    float: left;
    margin: 0 0.5em 0.4em 0;
    text-align: center;
    width: 9%;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-family: Georgia, Times, serif;
    font-size: 1.1em;
    font-weight: 700;
    padding: .3em;
}

#sidebar {
    width: 29%;
    float: right;
}

#sidebar h3 {
    color: #0a2c74;
    font-family: Tahoma, sans-serif;
    margin-bottom: -14px;
}

li.changeBackground {
    background-color: forestgreen;
}

li.changeBackground:hover {
    background-color: limegreen;
}

p.clear-float {
    clear: both;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 75%;
    margin: 0 auto;
}